<%= form_for(@heirship) do |f| %>
<% if @heirship.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@heirship.errors.count, "error") %> prohibited this heirship from being saved:</h2>

  <ul>
    <% @heirship.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="field">
  <%= f.label :transfer_date %><br>
  <%= f.text_field :transfer_date %>
</div>
<p>Person</p>
<%= f.fields_for :people do |person_form| %>
<div class="field">
  <%= person_form.label :name %>
  <%= person_form.text_field :name %>
</div>
<% end %>
<div>
  <%= f.fields_for :liability do |liability_form| %>
  <div class="field">
    <%= liability_form.label :item %>
    <%= liability_form.text_field :item %>
  </div>
  <div class="field">
    <%= liability_form.label :property %>
    <%= liability_form.text_field :property %>
  </div>
  <div class="field">
    <%= liability_form.label :money %>
    $<%= liability_form.text_field :money %>
  </div>
  <% end %>
  <div>

    <div class="actions">
      <%= f.submit %>
    </div>
    <% end %>

