<%= form_for(@heirship) do |f| %>
  <% if @heirship.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@heirship.errors.count, "error") %> prohibited this heirship from being saved:</h2>

      <ul>
      <% @heirship.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :transfer_date %><br>
    <%= f.text_field :transfer_date %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
