<h1>Listing heirships</h1>

<table>
  <thead>
    <tr>
      <th>Transfer date</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @heirships.each do |heirship| %>
      <tr>
        <td><%= heirship.transfer_date %></td>
        <td><%= link_to 'Show', heirship %></td>
        <td><%= link_to 'Edit', edit_heirship_path(heirship) %></td>
        <td><%= link_to 'Destroy', heirship, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Heirship', new_heirship_path %>
