<h1>Listing heirships</h1>

<table>
  <thead>
    <tr>
      <th>Item</th>
      <th>Property</th>
      <th>Money</th>
      <th>Person transferred to:</th>
      <th>Date Transferred</th>
    </tr>
  </thead>

  <tbody>
    <% @heirships.each do |heirship| %>
    <tr>
      <td><% if heirship.liability.nil? %>
      No liabilities
      <% else %>
        <%= heirship.liability.item %>
        <%= heirship.liability.property %>
        <%= heirship.liability.money %>
      <% end %>
      </td>
      <% if heirship.person.nil? %>
      No heir.
      <% else %>
      <td><%= heirship.person.name %></td>
      <% end %>
      <td><%= heirship.transfer_date %></td>
      <td><%= link_to 'Show', heirship %></td>
      <td><%= link_to 'Edit', edit_heirship_path(heirship) %></td>
      <td><%= link_to 'Destroy', heirship, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Heirship', new_heirship_path %>
